*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(159, 159, 159);
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}

.debug{
  background-color: rgb(20, 20, 20);
  /* border: 1px solid red; */
}

.debug2{
  background-color: rgb(91, 87, 115);
  /* border: 1px solid rgb(206, 253, 15); */
}


.debug3{
    background-color: rgb(120, 120, 120);
    /* border: 1px solid rgb(0, 255, 94); */
}
/* utility */

.flex{
  display: flex;
}

.margin{
  margin: 20px;
}

.t-center{
  text-align: center;
}
.border-radius{
  border-radius: 50%;
}

#active{
  border-left: 3px solid rgb(146, 248, 2);
  color: white;
  opacity: 1;
}

#active2{
  border-bottom: 3px solid rgb(146, 248, 2);
}

/* stili generali degli elementi */

body{
  height: 100vh;
  width: 100vw;
  position: relative;
}


.content{
  height: calc(100vh - 90px);
  overflow: hidden;
}

h2 , h3 , p{
   margin: 20px;
}
h3, h2 , h4 , h5{
  color: white;
}
/* stili reliativi alla colonna di sx  */




.side-container{
   height: 100%;
   width: 225px;
   position: relative;
}

.main-container{
height: 100%;
width: calc(100% - 225px);
overflow-y:auto;
}

.foot-side{
  height: 90px;
   width: 100%;
   position: absolute;
   bottom: 0;
   
}

.main-side{
  height: calc(100% - 90px);
  width: 100%;
}


.logo{
  padding: 10px;
  width: 100%;
}
.logo-mobile{
  display: none;
}
.side-menu{
  
  width: 100%;
}

.side-menu-mobile{
  display: none;
}
.library{
  width: 50px;
  height: auto;
  padding-left: 20px;
  vertical-align: middle;
  opacity: .8;
  
}


.crea-playlist{
  
  width: 100%;
}
.fa-plus{
  padding: 15px;
  background-color: rgb(210, 210, 210);
  color: black;
}
.lista-playlist{
  width: 100%;
  min-height: 200px;
  height: calc(100% - 330px);
  overflow-y:auto;
}
.lista-playlist ul li{
  padding: 20px;
}


.installa-app{
  border-bottom: 1px solid grey;
}
.installa-app-mobile{
  display: none;
}
.installa-app a , i{
  text-decoration: none;
  color: rgb(193, 193, 193);
  padding: 10px;
}

.user{
  padding: 10px;
 
}
.user-mobile{
  display: block;
}

.user-img{
  width: 30px;
  height: 30px;
  background-color: rgb(98, 96, 96);
  border-radius: 50%;
  vertical-align: middle;
}

.user-name{
  font-size: 1.5rem;
  color: white;
}
/* stili relativi alla parte centrale nel dettaglio */

.top-bar{
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .6);
  
}

.btn{
  text-align: right;
  margin-right: 300px;
  margin-top: 30px;
}
.btn a{
  padding: 10px 50px;
  border: 2px white solid;
  border-radius: 30px;
text-decoration: none;
color: white;
  

}


.main-wrap{
  flex-direction: column;
}


.recently{
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.box{
  overflow: hidden;
  position: relative;
}

.fa-2xl{
  display: none;
  position: absolute;
  top: 60px;
  left: 50px;
}
.card , .card2{
  width: 150px;
 
}

.card2{
  margin-left: 10px;
  margin-right: 10px;
}


.album , .artist{
  width: 100%;
  aspect-ratio: 1;
  
}


/* stili relativi al menu */

.main-menu{
  width: 100%;
  margin-top: 90px;
  
}



.menu2{
list-style: none;
justify-content: center;

flex-wrap: wrap;
}

.menu2 li{
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.menu2 li a{
   text-decoration: none;
   color: rgb(159, 159, 159);
   font-size: 1rem;
   text-align: center;
  
}

ul li a{
  list-style: none;
  text-decoration: none;
 
}

.menu1 li{
  margin-top: 10px;
}

.crea-playlist{
  margin: 20px;
  width: fit-content;

}






/* stili relativi al "player" in basso */

.player{
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
  
  justify-content: space-between;
}


.song-box{
  width: 20%;
  
  top: 20px;
  left: 5px;
}

.player-song , .player-controls , .player-volume{
  height: 100%;
  align-items: center;
  justify-content: center;
}
.player-song , .player-volume{
  width: 230px;
  justify-content: space-around;
  min-width: 230px;
}
.player-controls{
  width: 40%;
}
.options{
  justify-content: space-around;
}
.options li{
  text-decoration: none;
  list-style: none;
  margin: 10px;
  
}

.timeline{
  justify-content: space-around;
  align-items: center;
}
.line{
  width: 80%;
  border-radius: 3px;
  height: 5px;
  background-color: rgb(176, 176, 176) ;
  align-items: center;
}

.time{
  width: 20%;
  background-color: rgb(234, 232, 232);
  height: 100%;
  border-radius: 3px;
  
}
.vo li{
  text-decoration: none;
  list-style: none;
}
.volume{
  width: 60%;
  border-radius: 3px;
  height: 5px;
  background-color: rgb(176, 176, 176) ;
  align-items: center;
  margin-right: 10px;
}

.fa-circle-play{
  font-size: 2rem;
  line-height: 15px;
}
.point{
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
}
/* qui vado a gestire gli effetti hover */


#song-name:hover{
  color: white;
  text-decoration: underline;
}
a:hover{
  color: white;
} 

li:hover{
  color: white;
}

.btn a:hover{
  padding: 20px 60px;
  border: 2px white solid;
  border-radius: 30px;
text-decoration: none;
color: white;
}

.menu2 li a:hover{
  color: white;
}

.fa-regular:hover{
  color: white;
}

.fa-solid:hover{
  color: white;
}

.fa-plus:hover{
  color: black;
  background-color: white;
}

.crea:hover{
  color: white;
}

.album:hover{
  opacity: .3;
}
.artist:hover{
 opacity: .3;
}

.line:hover .time{
  background-color:  rgb(146, 248, 2);
}

.volume:hover .time{
  background-color:  rgb(146, 248, 2);
}

.fa-circle-play:hover{
  scale: 1.1;
}

.box:hover .fa-2xl{
  display: block;
  scale: 2;
}

/* da qui iniziano le media query */

@media screen and (max-width:600px){
  .side-container {
    width: 50px;
  }

  .top-bar{
    width: calc(100% - 50px);
  }
  .main-container{
    width: calc(100% - 50px);
  }

  .logo-mobile{
    display: block;
  }
  .logo-desktop{
    display: none;
  }
  .side-menu{
    display: none;
  }
  .side-menu-mobile , .installa-app-mobile , .user-mobile{
    display: block;
  }
  .menu1 li .library{
    width: 50px;
    height: auto;
    
    padding: 10px;
  }

  h3 , .lista-playlist , .creation-playlist , .installa-app , .user , .logo{
    display: none;
  }

.user-img{
  margin-left: 5px;
}
.btn{
  text-align: right;
  margin-right: 100px;
  margin-top: 30px;
}


.card , .card2{
  width: 200px;
 
}
.fa-2xl{
  display: none;
  position: absolute;
  top: 80px;
  left: 75px;
  
}