*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(159, 159, 159);
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
}

.debug{
  background-color: rgb(20, 20, 20);
  border: 1px solid red;
}

.debug2{
  background-color: rgb(91, 87, 115);
  border: 1px solid rgb(206, 253, 15);
}


.debug3{
    background-color: rgb(178, 172, 172);
    border: 1px solid rgb(0, 255, 94);
}
/* utility */

.flex{
  display: flex;
}

.margin{
  margin: 20px;
}

.t-center{
  text-align: center;
}


/* stili generali degli elementi */

body{
  height: 100vh;
  width: 100vw;
  position: relative;
}


.content{
  height: calc(100vh - 90px);
  overflow: hidden;
}

h2 , h3 , p{
   margin: 20px;
}
h3, h2 , h4{
  color: white;
}
/* stili reliativi alla colonna di sx  */




.side-container{
   height: 100%;
   width: 225px;
   position: relative;
}

.main-container{
height: 100%;
width: calc(100vw - 225px);
overflow-y:auto;
}

.foot-side{
  height: 90px;
   width: 100%;
   position: absolute;
   bottom: 0;
   
}

.main-side{
  height: calc(100% - 90px);
  width: 100%;
}


.logo{
  padding: 10px;
  width: 100%;
}

.side-menu{
  
  width: 100%;
}

.library{
  width: 50px;
  height: auto;
  padding-left: 20px;
  vertical-align: middle;
  border-left: 3px solid rgb(146, 248, 2);
  
}


.crea-playlist{
  
  width: 100%;
}
.fa-plus{
  padding: 15px;
  background-color: rgb(210, 210, 210);
  color: black;
}
.lista-playlist{
  width: 100%;
  min-height: 200px;
  height: calc(100% - 90px);
  overflow-y:auto;
}
.lista-playlist ul li{
  padding: 20px;
}


.installa-app{
  border-bottom: 1px solid grey;
}

.installa-app a , i{
  text-decoration: none;
  color: rgb(193, 193, 193);
  padding: 10px;
}

.user{
  padding: 10px;
 
}


.user-img{
  width: 30px;
  height: 30px;
  background-color: rgb(98, 96, 96);
  border-radius: 50%;
  vertical-align: middle;
}

.user-name{
  font-size: 1.5rem;
  color: white;
}
/* stili relativi alla parte centrale nel dettaglio */

.top-bar{
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, .6);
  
}

.btn{
  text-align: right;
  margin-right: 250px;
  margin-top: 30px;
}
.btn a{
  padding: 10px 50px;
  border: 2px white solid;
  border-radius: 30px;
text-decoration: none;
color: white;
  

}


.main-wrap{
  flex-direction: column;
}


.recently{
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.box{
  width: 15%;
  aspect-ratio: 1;
  min-width: 100px;
}

.border-radius{
  border-radius: 50%;
}

.album{
  height: 100%;
}

/* stili relativi al menu */

.main-menu{
  width: 100%;
  margin-top: 90px;
  
}



.menu2{
list-style: none;
justify-content: center;

flex-wrap: wrap;
}

.menu2 li{
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.menu2 li a{
   text-decoration: none;
   color: rgb(159, 159, 159);
   font-size: 1rem;
   text-align: center;
  
}

ul li a{
  list-style: none;
  text-decoration: none;
 
}

.menu1 li{
  margin-top: 10px;
}

.crea-playlist{
  margin: 20px;
  width: fit-content;

}






/* stili relativi al "player" in basso */

.player{
  height: 90px;
  width: 100%;
  position: absolute;
  bottom: 0;
  
  justify-content: space-between;
}


.player-song , .player-controls , .player-volume{
  height: 100%;
  align-items: center;
  justify-content: center;
}

.player-controls{
  width: 40%;
}






/* da qui iniziano le media query */

@media screen and (max-width:600px){
  .side-container {
    width: 50px;
  }

  .top-bar{
    width: calc(100% - 50px);
  }
  .main-container{
    width: calc(100% - 50px);
  }
  
}