*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  background-color: rgb(255, 171, 161);
  border: 1px solid red;
}

.debug2{
  background-color: aquamarine;
  border: 1px solid rgb(0, 0, 0);
}

/* utility */

.flex{
  display: flex;
}

/* stili generali degli elementi */

body{
  height: 100vh;
  width: 100vw;
  position: relative;
}

.player{
   height: 90px;
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color: rgb(209, 159, 255);
}

.content{
  height: calc(100vh - 90px);
}



/* stili reliativi alla colonna di sx  */




.side-container{
   height: 100%;
   width: 225px;
   position: relative;
}

.main-container{
height: 100%;
width: calc(100vw - 225px);
overflow: scroll;
}

.foot-side{
  height: 90px;
   width: 100%;
   position: absolute;
   bottom: 0;
   background-color: rgb(97, 30, 161);
}

.main-side{
  height: calc(100% - 90px);
  width: 100%;
}


.logo{
  height: 60px;
  width: 100%;
}

.side-menu{
  height: 150px;
  width: 100%;
}
.crea-playlist{
  height: 90px;
  width: 100%;
}

.lista-playlist{
  width: 100%;
  min-height: 200px;
  height: calc(100% - 300px);
  overflow:auto;
}

/* stili relativi alla parte centrale nel dettaglio */

.top-bar{
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .4);

}

.main-menu{
  width: 100%;
  margin-top: 90px;
  height: 50px;
}